body{
    margin: 0;
    padding: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

#cuadroE{

height: 20em;
width: 20em;

background-color: red;
display: flex;

}
    #cir1{
        height: 20em;
        width: 20em;
        border-radius: 50%;

        background-color: white;
        display: flex;
    }
        #cuadroI{

        }
            #cir2{

            }
                #cir3{

                }