body{
    margin: 0;
    padding: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

#cuadroE{

height: 20em;
width: 20em;

border: 0.35em solid black;
background-color: red;
display: flex;

}
    #cir1{
        height: 19.35em;
        width: 19.35em;
        border-radius: 50%;
        border: 0.35em solid black;

        background-color: white;
        display: flex;

        justify-content: center;
        align-items: center;
    }
        #cuadroI{
            height: 13.35em;
            width: 13.35em;

            background-color: gray;
            border: 0.35em solid black;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #cir2{

                height: 13.35em;
                width: 13.35em;
                border-radius: 50%;
        
                background-color: red;
                border: 0.35em solid black;

                display: flex;
        
                justify-content: center;
                align-items: center;
            }
                #cir3{
                    height: 10.35em;
                    width: 10.35em;
                    border-radius: 50%;
            
                    background-color: white;
                    border: 0.35em solid black;

                    display: flex;
                }